parameters:
	scanDirectories:
	    - tests
	    - src
	level: 9
	paths:
	    - src
	    - tests
	excludePaths:
	    - src/Kernel.php
	    - tests/bootstrap.php
	    - vendor
	    - var
	    - migrations
	treatPhpDocTypesAsCertain: true
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false # Force array<Type>, array<int, Type> or Type[] annotations
