# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: CI Testing

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read

jobs:
  symfony-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: shivammathur/setup-php@2cb9b829437ee246e9b3cac53555a39208ca6d28
      with:
        php-version: '8.2'
    - uses: actions/checkout@v3

    - name: Copy .env.test.local
      run: php -r "file_exists('.env.test.local') || copy('.env.test', '.env.test.local');"

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install Dependencies
      id: composer-install
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Create Database
      id: create-database
      run: |
        mkdir -p data
        touch data/database.sqlite

    - name: Execute PHP CS Fixer`
      id: php-cs-fixer
      run: vendor/bin/php-cs-fixer fix --dry-run --diff --verbose

    - name: Execute PHPStan
      id: phpstan
      run: vendor/bin/phpstan analyse

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      id: phpunit
      env:
        DATABASE_URL: postgresql://postgres:postgres@127.0.0.1:5432/test?serverVersion=15&charset=utf8
      run: vendor/bin/phpunit

    - name: Sleep for 10 seconds
      uses: jakejarvis/wait-action@master
      with:
        time: '10s'

    - name: Execute Behat tests
      id: behat
      env:
        DATABASE_URL: postgresql://postgres:postgres@127.0.0.1:5432/test?serverVersion=15&charset=utf8
      run: php vendor/bin/behat --colors --strict --format=progress --no-interaction -vvv
